.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 900;
  font-weight: 600;
}

.button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 901;
}

.button {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  border: none;
  border-radius: 1.5rem;
  text-align: center;
  padding: 0;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  /* height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  border-radius: 1.5rem; */
}

.button_close {
  height: 2.5rem;
  width: 2.5rem;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  border: none;
  border-radius: 1.5rem;
  text-align: center;
  padding: 0;
}
