.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.container {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.overlay {
  display: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.overlay > p {
  display: none;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.overlay:hover > p {
  display: block;
}

.overlay:hover {
  transition: 0.5s;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}
