.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 10px 0 10px 0;
  margin: 0;
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 8;
}

.list > li {
  padding: 1rem;
}

.list > li > a {
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
}

@media (min-width: 768px) {
}
