.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  justify-content: space-between;
  position: relative;
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.menuIcon {
  z-index: 1000;
}

@media (min-width: 768px) {
  .menuIcon {
    display: none;
  }
}
