.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.title {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.menuIcon {
  z-index: 1000;
}
