.sidebar {
  display: none;
  background-color: rgb(255, 255, 255, 0.5);
  /* ↓ The width when the sidebar _is_ a sidebar */
  flex-basis: 15rem;
  flex-grow: 1;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 10px 0 10px 0;
  margin: 0;
}

.list > li {
  padding: 1rem;
}

.list > li > a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}
